[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{md,markdown}]
trim_trailing_whitespace = false

[{src,test}/**]
indent_style = space
indent_size = 2

[{node_modules}/**]
indent_style = ignore
indent_size = ignore
end_of_line = ignore
trim_trailing_whitespace = ignore
charset = ignore
