{
  "extends": "airbnb/legacy",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "valid-jsdoc": 1
  }
}
